In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
census = pd.read_csv('census.csv')
#census.axes
#df.sort_values(by='reports', ascending=0, inpl)
census.sort_values(by='State', axis=0,inplace=True)
#census.set_index(keys='State',inplace=True)
census

                         City    State  Population
8725            Rehobeth town  Alabama        1482
12994            Kinston town  Alabama         539
9402             Munford town  Alabama        1249
3258           Andalusia city  Alabama        8968
12977             Grimes town  Alabama         542
5299          Haleyville city  Alabama        4074
19122             Dayton town  Alabama          49
9422             Coosada town  Alabama        1244
7942           Brookwood town  Alabama        1827
11292   Magnolia Springs town  Alabama         802
9423          Summerdale town  Alabama        1244
3245           Sheffield city  Alabama        9025
17630        Gaylesville town  Alabama         143
17631           Lakeview town  Alabama         143
3231          Fultondale city  Alabama        9084
11293         Silverhill town  Alabama         802
5357         Thomasville city  Alabama        4002
7909          Crossville town  Alabama        1841
14174    Pleasant Groves town  Alabama         411
9460              Chatom town  Alabama        1231
17660        Billingsley town  Alabama         141
7887           Sulligent city  Alabama        1849
17661        North Johns town  Alabama         141
3186         Bay Minette city  Alabama        9312
7885            Sylvania town  Alabama        1850
11300           Brantley town  Alabama         801
3171              Valley city  Alabama        9377
11301      Jacksons' Gap town  Alabama         801
9392          Cottonwood town  Alabama        1255
7882   Owens Cross Roads town  Alabama        1852
...                       ...      ...         ...
9306       Mountain View town  Wyoming        1287
15053          Meeteetse town  Wyoming         327
18476           Manville town  Wyoming          93
8454                Lusk town  Wyoming        1599
4550             Worland city  Wyoming        5316
9751         Pine Bluffs town  Wyoming        1152
17741            Granger town  Wyoming         137
3086                Cody city  Wyoming        9836
15745       Medicine Bow town  Wyoming         270
7931              Wright town  Wyoming        1834
568             Cheyenne city  Wyoming       64019
14616             Thayne town  Wyoming         367
8259            Saratoga town  Wyoming        1686
9903               Upton town  Wyoming        1106
1174             Laramie city  Wyoming       32382
7603               Afton town  Wyoming        1995
13480          Wamsutter town  Wyoming         484
17341            Frannie town  Wyoming         161
2852            Riverton city  Wyoming       10997
9683            Guernsey town  Wyoming        1171
3988          Torrington city  Wyoming        6715
3666              Lander city  Wyoming        7665
17552          Clearmont town  Wyoming         149
7803            Pinedale town  Wyoming        1895
5495               Mills town  Wyoming        3813
18280               Opal town  Wyoming         105
9261               Basin town  Wyoming        1300
10919             Alpine town  Wyoming         865
16571          Chugwater town  Wyoming         212
13876         Encampment town  Wyoming         442

[19510 rows x 3 columns]

In [5]:
census.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19510 entries, 8725 to 13876
Data columns (total 3 columns):
City          19510 non-null object
State         19510 non-null object
Population    19510 non-null int64
dtypes: int64(1), object(2)
memory usage: 609.7+ KB

In [6]:
us_state =pd.Series({
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
})

In [7]:
us_state_df = pd.DataFrame(us_state).reset_index()
us_state_df.columns = ['State', 'Code']
us_state_df

             State Code
0          Alabama   AL
1           Alaska   AK
2          Arizona   AZ
3         Arkansas   AR
4       California   CA
5         Colorado   CO
6      Connecticut   CT
7         Delaware   DE
8          Florida   FL
9          Georgia   GA
10          Hawaii   HI
11           Idaho   ID
12        Illinois   IL
13         Indiana   IN
14            Iowa   IA
15          Kansas   KS
16        Kentucky   KY
17       Louisiana   LA
18           Maine   ME
19        Maryland   MD
20   Massachusetts   MA
21        Michigan   MI
22       Minnesota   MN
23     Mississippi   MS
24        Missouri   MO
25         Montana   MT
26        Nebraska   NE
27          Nevada   NV
28   New Hampshire   NH
29      New Jersey   NJ
30      New Mexico   NM
31        New York   NY
32  North Carolina   NC
33    North Dakota   ND
34            Ohio   OH
35        Oklahoma   OK
36          Oregon   OR
37    Pennsylvania   PA
38    Rhode Island   RI
39  South Carolina   SC
40    South Dakota   SD
41       Tennessee   TN
42           Texas   TX
43            Utah   UT
44         Vermont   VT
45        Virginia   VA
46      Washington   WA
47   West Virginia   WV
48       Wisconsin   WI
49         Wyoming   WY

In [8]:
census.head()

                 City    State  Population
8725    Rehobeth town  Alabama        1482
12994    Kinston town  Alabama         539
9402     Munford town  Alabama        1249
3258   Andalusia city  Alabama        8968
12977     Grimes town  Alabama         542

In [9]:
us_state_df.sort_values(by='State')

             State Code
0          Alabama   AL
1           Alaska   AK
2          Arizona   AZ
3         Arkansas   AR
4       California   CA
5         Colorado   CO
6      Connecticut   CT
7         Delaware   DE
8          Florida   FL
9          Georgia   GA
10          Hawaii   HI
11           Idaho   ID
12        Illinois   IL
13         Indiana   IN
14            Iowa   IA
15          Kansas   KS
16        Kentucky   KY
17       Louisiana   LA
18           Maine   ME
19        Maryland   MD
20   Massachusetts   MA
21        Michigan   MI
22       Minnesota   MN
23     Mississippi   MS
24        Missouri   MO
25         Montana   MT
26        Nebraska   NE
27          Nevada   NV
28   New Hampshire   NH
29      New Jersey   NJ
30      New Mexico   NM
31        New York   NY
32  North Carolina   NC
33    North Dakota   ND
34            Ohio   OH
35        Oklahoma   OK
36          Oregon   OR
37    Pennsylvania   PA
38    Rhode Island   RI
39  South Carolina   SC
40    South Dakota   SD
41       Tennessee   TN
42           Texas   TX
43            Utah   UT
44         Vermont   VT
45        Virginia   VA
46      Washington   WA
47   West Virginia   WV
48       Wisconsin   WI
49         Wyoming   WY

In [10]:
census_corrected = pd.merge(census, us_state_df, how='outer', sort=True, on='State')
census_corrected

                         City    State  Population Code
0               Rehobeth town  Alabama        1482   AL
1                Kinston town  Alabama         539   AL
2                Munford town  Alabama        1249   AL
3              Andalusia city  Alabama        8968   AL
4                 Grimes town  Alabama         542   AL
5             Haleyville city  Alabama        4074   AL
6                 Dayton town  Alabama          49   AL
7                Coosada town  Alabama        1244   AL
8              Brookwood town  Alabama        1827   AL
9       Magnolia Springs town  Alabama         802   AL
10            Summerdale town  Alabama        1244   AL
11             Sheffield city  Alabama        9025   AL
12           Gaylesville town  Alabama         143   AL
13              Lakeview town  Alabama         143   AL
14            Fultondale city  Alabama        9084   AL
15            Silverhill town  Alabama         802   AL
16           Thomasville city  Alabama        4002   AL
17            Crossville town  Alabama        1841   AL
18       Pleasant Groves town  Alabama         411   AL
19                Chatom town  Alabama        1231   AL
20           Billingsley town  Alabama         141   AL
21             Sulligent city  Alabama        1849   AL
22           North Johns town  Alabama         141   AL
23           Bay Minette city  Alabama        9312   AL
24              Sylvania town  Alabama        1850   AL
25              Brantley town  Alabama         801   AL
26                Valley city  Alabama        9377   AL
27         Jacksons' Gap town  Alabama         801   AL
28            Cottonwood town  Alabama        1255   AL
29     Owens Cross Roads town  Alabama        1852   AL
...                       ...      ...         ...  ...
19480      Mountain View town  Wyoming        1287   WY
19481          Meeteetse town  Wyoming         327   WY
19482           Manville town  Wyoming          93   WY
19483               Lusk town  Wyoming        1599   WY
19484            Worland city  Wyoming        5316   WY
19485        Pine Bluffs town  Wyoming        1152   WY
19486            Granger town  Wyoming         137   WY
19487               Cody city  Wyoming        9836   WY
19488       Medicine Bow town  Wyoming         270   WY
19489             Wright town  Wyoming        1834   WY
19490           Cheyenne city  Wyoming       64019   WY
19491             Thayne town  Wyoming         367   WY
19492           Saratoga town  Wyoming        1686   WY
19493              Upton town  Wyoming        1106   WY
19494            Laramie city  Wyoming       32382   WY
19495              Afton town  Wyoming        1995   WY
19496          Wamsutter town  Wyoming         484   WY
19497            Frannie town  Wyoming         161   WY
19498           Riverton city  Wyoming       10997   WY
19499           Guernsey town  Wyoming        1171   WY
19500         Torrington city  Wyoming        6715   WY
19501             Lander city  Wyoming        7665   WY
19502          Clearmont town  Wyoming         149   WY
19503           Pinedale town  Wyoming        1895   WY
19504              Mills town  Wyoming        3813   WY
19505               Opal town  Wyoming         105   WY
19506              Basin town  Wyoming        1300   WY
19507             Alpine town  Wyoming         865   WY
19508          Chugwater town  Wyoming         212   WY
19509         Encampment town  Wyoming         442   WY

[19510 rows x 4 columns]

In [11]:
census_corrected.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19510 entries, 0 to 19509
Data columns (total 4 columns):
City          19510 non-null object
State         19510 non-null object
Population    19510 non-null int64
Code          19507 non-null object
dtypes: int64(1), object(3)
memory usage: 762.1+ KB

In [12]:
#census_corrected.isnull()

In [13]:
census_total_df = census_corrected.groupby(['Code','Population']).sum()

In [14]:
census_total_df.head(200)

                                                          City  \
Code Population
AK   12                                           Bettles city
     26                                         Kupreanof city
     42                                        False Pass city
     43                                          Edna Bay city
     50                                            Kasaan city
     54                                    Port Alexander city
     63                                     Clark's Point city
     65                                       Pilot Point city
     66                                          Platinum city
     71                                            Akhiok city
     74                                              Atka city
     81                                          Shageluk city
     85                                             Eagle city
     86                                             Anvik city
     87                            Larsen Bay cityChignik city
     88                                Pelican cityHughes city
     91                                           Nikolai city
     93                                           Koyukuk city
     97                                       Port Heiden city
     105                                       St. George city
     106                             Egegik cityAllakaket city
     118                                          Diomede city
     122                                         Cold Bay city
     126                          Chuathbaluk cityDeering city
     130                                  Tenakee Springs city
     132                                            Ekwok city
     149                                            Wales city
     156                                            Kobuk city
     158                                        Nondalton city
     160                                          Golovin city
...                                                        ...
AL   143                         Gaylesville townLakeview town
     148                                          Waverly town
     159                                           Geiger town
     162                                Talladega Springs town
     170                                           Gu-Win town
     173                                            Banks town
     176                                     Yellow Bluff town
     178                                          Newbern town
     181                                             Epes town
     182                                        Riverview town
     183                              Onycha townWoodland town
     186                                         Orrville town
     187                                        Beaverton town
     188                                         Glenwood town
     195                                      Gainesville town
     197                                         Kellyton town
     198                                         Waterloo town
     199                                       Loachapoka town
     202                                     Edwardsville town
     203                                       Gilbertown town
     205                                       Paint Rock town
     207                    Pennington townBlack townBelk town
     209                                         Daviston town
     210                                       Providence town
     211                                           Nauvoo town
     219                                           Kansas town
     221                                  Union townGantt town
     225                                         McIntosh town
     227         Horn Hill townDetroit townCoffee Springs town
     242                                      Sweet Water town

                                 State
Code Population
AK   12                         Alaska
     26                         Alaska
     42                         Alaska
     43                         Alaska
     50                         Alaska
     54                         Alaska
     63                         Alaska
     65                         Alaska
     66                         Alaska
     71                         Alaska
     74                         Alaska
     81                         Alaska
     85                         Alaska
     86                         Alaska
     87                   AlaskaAlaska
     88                   AlaskaAlaska
     91                         Alaska
     93                         Alaska
     97                         Alaska
     105                        Alaska
     106                  AlaskaAlaska
     118                        Alaska
     122                        Alaska
     126                  AlaskaAlaska
     130                        Alaska
     132                        Alaska
     149                        Alaska
     156                        Alaska
     158                        Alaska
     160                        Alaska
...                                ...
AL   143                AlabamaAlabama
     148                       Alabama
     159                       Alabama
     162                       Alabama
     170                       Alabama
     173                       Alabama
     176                       Alabama
     178                       Alabama
     181                       Alabama
     182                       Alabama
     183                AlabamaAlabama
     186                       Alabama
     187                       Alabama
     188                       Alabama
     195                       Alabama
     197                       Alabama
     198                       Alabama
     199                       Alabama
     202                       Alabama
     203                       Alabama
     205                       Alabama
     207         AlabamaAlabamaAlabama
     209                       Alabama
     210                       Alabama
     211                       Alabama
     219                       Alabama
     221                AlabamaAlabama
     225                       Alabama
     227         AlabamaAlabamaAlabama
     242                       Alabama

[200 rows x 2 columns]